@font-face {
	
	font-family: 'MyriadPro-Regular';
    src: url('MyriadPro-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
	
	
    font-family: 'Ubuntu';
    src: url('Ubuntu-Bold.woff2') format('woff2'),
        url('Ubuntu-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;

}

